input.baseInput {
  border-radius: rem(12px);
  border: none;
  font-size: var(--mantine-font-size-md);
  /* padding-inline: rem(16px); */
  background: transparent;
  color: var(--mantine-color-gray-0);
  border-radius: rem(18px);
  max-width: rem(299px);
  height: rem(52px);
}

input.baseInput::active {
  background-color: transparent !important;
}

input.baseInput[data-variant='search'] {
  height: rem(40px);

  &:focus {
    border: 1px solid var(--mantine-color-blue-6);
  }
}

div.wrapper {
  position: relative;
  margin-top: rem(8px);
  max-width: rem(299px);
  border-radius: rem(18px);
  transition: 0.15s ease all;
  backdrop-filter: var(--glass-blur);
  border: 1px solid var(--glass-edge);
  background-color: var(--glass-pane);
  overflow: hidden;
}

div.wrapper::after {
  content: '';
  position: absolute;
  inset: 0;
  z-index: -1;
  border-radius: inherit;
  background: linear-gradient(
    120deg,
    rgba(0, 82, 153, 0.15) 10%,
    rgba(0, 171, 255, 0.15) 110%
  );

  opacity: 0;
  transition: opacity 250ms ease-in;
}

div.wrapper[data-error]::after {
  background: rgba(244, 87, 68, 0.1) !important;
  opacity: 1 !important;
}

div.wrapper:focus-within::after {
  opacity: 1;
}

.section {
  /* padding: 0 !important;
  margin: 0 !important; */
  width: auto;
}

.baseInput:hover {
}

.baseInput::placeholder {
  color: var(--mantine-color-gray-6);
}

.baseInput[data-error] {
  border-color: var(--mantine-color-red-6);
}

label.label {
  font-size: var(--mantine-font-size-lg);
  font-weight: 400;
  color: var(--mantine-color-gray-3);
  margin-bottom: 0;
}

p.description {
  color: var(--mantine-color-gray-3);
  font-size: var(--mantine-font-size-sm);
  margin-top: rem(4px);
}

.withSection {
  padding-inline: unset;
}

.errorText {
  color: var(--mantine-color-red-6);
  font-size: var(--mantine-font-size-sm);
  margin-top: rem(4px);
}

.textarea {
  padding: rem(16px);
  width: 100%;
  rows: 4;
  height: auto;
}

.numberInputRoot {
  width: 100%;
}

.numberInput {
  height: rem(52px);
}

.numberInputSection {
  width: fit-content;
  padding: 0 rem(16px);
}

.select {
  width: 100%;
}

.selectInput {
  height: rem(52px);
}

.selectSection {
  margin: 0rem (8px);

  svg {
    color: var(--mantine-color-gray-1);
    height: rem(24px);
    width: rem(24px);
  }
}

div.selectDropdown {
  background-color: var(--mantine-color-gray-8);
  border: none;
  border-radius: rem(12px);
  padding: rem(16px);
}

div.selectOption {
  font-size: var(--mantine-font-size-md);
  height: rem(40px);
  margin-bottom: rem(4px);
  width: 95%;
  color: var(--mantine-color-gray-3);
  &:hover {
    background-color: var(--mantine-color-gray-8);
    color: var(--mantine-color-gray-0);
  }
}

div.selectOption[data-checked] {
  color: var(--mantine-color-gray-0);
  svg {
    color: var(--mantine-color-gray-0);
    opacity: 1;
  }
}
